body{
    
    margin: 0 auto;
    background-color: whitesmoke;
}
img{
    border-radius: 100px;
}

/*header start*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: darkgray;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.06);
    height: 2vh;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    
}
#navbar li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 100;
    font-family: "Rockwell";
    color: rgb(16, 15, 15);
    transition: 0.3 ease;
}
#navbar li a:hover, #navbar li a.active{
    color: green;
}

#navbar li a.active::after, #navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: green;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar li i{
    color: green;
    transition: 0.3s ease;
    width: 30px;
    
}
#navbar li i:hover{
    color: rgb(236, 48, 48);
}

/*section id=bone*/
#bone{
    background-image: url(./img/bgpictr1.jpg);
    padding: 4px;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: bottom 15% left 40%;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    
}

#bone h4{
    padding-bottom: 15px;
    color: rgb(44, 8, 80);
    font-size: large;
    font-weight: bolder;
}

#bone h1{
    color: brown;
    font-weight: bolder;
    font-size: xx-large;
    background-color: rgb(15, 15, 89);
    border-radius: 15% 0 20% 0;
    height: 7vh;
}

#bone button{
    border: none;
    height: 6vh;
    border-radius: 10px 5px 10px 5px;
    width: 15%;
    background-color: rgb(228, 174, 174);
    color: darkgoldenrod;
    font-family: sans-serif;
    font-size: 700;
    font-weight: bold;
    cursor: pointer;
}

#bone button:hover{
    background-color: whitesmoke;
    transition: 0.25s ease-in-out;
}
